@page "/hxc/jobs"
@inject NavigationManager NavigationManager
@inject HttpClient HxcHttpClient

<h3>Help<span style="color: #c02d76">X</span>Change</h3>
<AuthorizeView>
    <Authorized>
        <MudIconButton Icon="@Icons.Material.Outlined.Person"
                       id="profile-button"
                       OnClick="GoToProfile"
                       Color="Color.Secondary" aria-label="profile"></MudIconButton>
        <MudIconButton Icon="@Icons.Material.Outlined.List"
                                id="todos-button"
                                OnClick="GoToUserTodos"
                                Color="Color.Secondary" aria-label="todos"></MudIconButton>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="organization">
    <Authorized>
        <MudIconButton Icon="@Icons.Material.Outlined.Person"
                       id="organization-profile-button"
                       OnClick="GoToOrganizationProfile"
                       Color="Color.Primary" aria-label="organization-profile"></MudIconButton>
         <MudIconButton Icon="@Icons.Material.Outlined.List"
                                   id="organization-todos-button"
                                   OnClick="GoToOrganizationTodos"
                                   Color="Color.Primary" aria-label="organization-todo"></MudIconButton>
    </Authorized>
</AuthorizeView>