@using MudBlazor
@using MudBlazor.Utilities
@inherits LayoutComponentBase
<MudThemeProvider Theme="_theme" />
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private readonly MudTheme _theme = new()
    {
        Palette = new PaletteLight()
        {
            Background = new MudColor("#EBEBEB"),
            Primary = new MudColor("#7F4053"),
            Secondary = new MudColor("#c02d76"),
            Tertiary = new MudColor("#407F6C"),
            Warning = new MudColor("#C5B0B5")
        }
    };
}
