@page "/hxc/jobs"
@inject NavigationManager NavigationManager

<h3>Help<span style="color: #c02d76">X</span>Change</h3>

<MudIconButton Icon="@Icons.Material.Outlined.Person"
               OnClick="GoToProfile"
               Color="Color.Secondary" aria-label="profile"></MudIconButton>